html {
  @apply text-base;
}

body {
  @apply bg-body font-primary font-normal leading-relaxed text-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-secondary font-bold leading-tight text-dark;
}

h1,
.h1 {
  @apply text-h1-sm md:text-h1;
}

h2,
.h2 {
  @apply text-h2-sm md:text-h2;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}

h4,
.h4 {
  @apply text-h4;
}

h5,
.h5 {
  @apply text-h5;
}

h6,
.h6 {
  @apply text-h6;
}

b,
strong {
  @apply font-semibold;
}

img {
  @apply inline-block;
}

html.dark {
  --color-body: var(--color-darkmode-body);
  --color-border: var(--color-darkmode-border);
  --color-light: var(--color-darkmode-light);
  --color-dark: var(--color-darkmode-dark);
  --color-primary: var(--color-darkmode-primary);
  --color-text: var(--color-darkmode-text);
  --color-text-dark: var(--color-darkmode-text-dark);
  --color-text-light: var(--color-darkmode-text-light);
}
